.accountant-dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Added padding for aesthetics */
    font-size: 25px;
    color: black;
    text-align: center;
  }
  
  .dashboard-content-acc {
    display: flex;
    flex-direction: column; /* Allows stacking of nav items and Outlet */
    gap: 20px; /* Space between nav items and other content */
  }
  
  .nav-container-acc {
    display: flex; /* Aligns children horizontally */
    gap: 70px; /* Space between boxes */
    margin-top: 70px;
  }
  
  .nav-box-acc {
    border: 2px solid black; /* Change color as needed */
    padding: 25px;
    border-radius: 15px;
    border-width: 0px;
    background-color: #000565; /* Dark background for contrast */
    flex: 1; /* Allows boxes to grow equally */
    text-align: center; /* Center text inside the box */
    transition: transform 0.2s, background-color 0.3s, color 0.3s; /* Smooth transition for effects */
    font-weight: bold;
    text-decoration: none; /* This removes the underline */
    color: white;
  }
  
  .nav-box-acc:hover {
    background-color: #d0e7ff; /* Change background on hover */
    transform: scale(1.05); /* Slightly enlarge the box on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    color: black;
  }
  
  .nav-box-acc a {
    text-decoration: none;
    color: white; /* Default link color */
    font-weight: bold;
    font-size: x-large;
    transition: color 0.3s; /* Smooth transition for text color */
  }
  
  .nav-box-acc:hover a {
    color: black; /* Change link color to black on hover */
  }
  
  .logo7 {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }
  

  .card-container-acc-dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card-acc-dashboard {
    width: 100%;
    max-width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card-acc-dashboard:hover {
    transform: scale(1.05);
  }
  
  .card-acc-dashboard h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .card-acc-dashboard p {
    font-size: 1.5rem;
    color: #333;
  }
  
  .card-acc-dashboard .mb-3 {
    margin-bottom: 15px;
  }
  