.add-demands{
    font-size: 40px;
    margin-top: 50px;
}

.logo5{
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  margin-top: 50px;
}

.Projects-others999{
  display: flex; /* Aligns children horizontally */
  gap: 370px; /* Space between boxes */
  margin-top: 100px;
}

.nav-box002{
  border: 2px solid black; /* Change color as needed */
  padding: 25px 5px;
  border-width: 0px;
  background-color: #000565; /* Dark background for contrast */
  flex: 1; /* Allows boxes to grow equally */
  text-align: center; /* Center text inside the box */
  transition: transform 0.2s, background-color 0.3s, color 0.3s; /* Smooth transition for effects */
  font-weight: bold;
  text-decoration: none; /* This removes the underline */
  color: white;
  font-size: xx-large;
}

.nav-box002:hover {
    background-color: #d0e7ff; /* Change background on hover */
    transform: scale(1.05); /* Slightly enlarge the box on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    color: black;
  }
  
  .nav-box002 a {
    text-decoration: none;
    color: white; /* Default link color */
    font-weight: bold;
    font-size: xx-large;
    transition: color 0.3s; /* Smooth transition for text color */
  }
  
  .nav-box002:hover a {
    color: black; /* Change link color to black on hover */
  }

