.form-label{
    color: black;
}

.input-box1{
    width: 50%;
}

.project-items-header{
    margin-top: 60px;
    font-size: xx-large;
}

.item-submit{
    font-size: x-large;
    background-color: #000565;
}

.add-row{
    color: black;
    font-weight: bold;
}

.card mb-4{
    width: 500px;
}
h2{
    font-weight: bold;
}